
.titulo{
    color: #222;
    padding-top: 15px;
    padding-left: 35px
}

.parrafo {
    text-align: justify;
    color: #444;
    padding-left: 35px;
    padding-right: 25px
}

.contenedor {
    width: 770px;
    height: 340px;
    background: azure;
}

.celda_foto {
    width: 50px;
}

.celda_normal {
    width: 150px;
}

.celda_larga {
    width: 300px;
}

